<div class='item-container'>
    {{#if items.[0]}}
    {{#each items}}
    <div class='item'>
        <div class='item-img'>
            <img src='/{{image}}'>
        </div>
        <span class='item-span-name'> <a href='/items/{{_id}}'>{{name}}</a></span>
        <span class='item-span-description'>{{description}}</span>
        <span class='item-span-category'>{{category.name}}</span>
        <span class='item-span-info'>{{price}}$ Left: {{inStock}}</span>
    </div>
    {{/each}}
    {{else}}
    <div class='no-items'>
        <span>There are no items yet</span>
    </div>
    {{/if}}
</div>