<div class='item-detail-div'>
    <div class='item-img-detail'>
        <img src='/{{item.image}}'>
    </div>
    <span>{{item.name}}</span>
    <span>{{item.category.name}}</span>
    <span>{{item.description}}</span>
    <span>{{item.price}}$ Left: {{item.inStock}}</span>
    <span><a class='btna btna-update' href='/items/{{item._id}}/update'>Update</a> <a class='btna btna-delete'
            href='/items/{{item._id}}/delete'>Delete</a></span>
</div>